@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Implement A Library Class</h1>

    <p>Quick example on implementing a Library Class and then using it in a console and MVC project through References. Use the following form to provide a string
    and the library will disemenate it into various counts. 

        @Html.ActionLink("Strings Parse Library Methods", "Check", "Quotes")
    </p>

</div>


